// Variables
$tab-height: 40px;


html, body {
  // height: 100%;
  font-family: 'Unica One', cursive;
}
h1,h2,h3,h4,h5,p,ul,ol,li,body {
  margin: 0;
  padding: 0;
}
.b-bottom {border-bottom: 1px solid #000;}
.b-top {border-top: 1px solid #000;}
.b-right {border-right: 1px solid #000;}
.b-left {border-left: 1px solid #000;}
.cntr {text-align: center;}
.p-cell {background: #fff;}

#accordian-wrapper {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}
#accordian {
  width: 85%;
  margin: 0 auto;
  border: 1px solid #000;
}

/* LENGTH OF GAME SELECTION */
#formContainer {
  border: 1px solid #000;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  h3 {
    padding-bottom: 10px;
  }
  .gameLength {
    margin-bottom: 10px;
    span {
      margin: 0 20px;
      display: inline-block;
    }
  }
  .selectors {
    display: inline-block;
  }
  .nine, .eighteen {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0 30px;
    background: #dcdcdc;
    transition: background 50ms linear;
  }
  .addPlayers {
    position: relative;
  }
  .fa-plus {
    position: absolute;
    top: -3px;
    right: 0;
    font-size: 2em;
    transition: all 150ms ease-in-out;
  }
  input[type="text"] {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-color: black;
    border-width: 1px;
    outline: none;
    border-style: solid;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: 300;
    padding: 5px;
  }
  label {
    font-weight: bold;
  }
  .inputContainer {
    position: relative;
    .fa-minus {
      position: absolute;
      top: 25px;
      right: 12px;
      font-size: 1.2em;
      color: #f00;
      z-index: 10;
    }
  }
  .startGame {
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
    text-align: center;
    background: #7fff00;
    font-weight: bold;
    border: 1px solid #000;
  }
}
.feedbackRotate {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
#formContainer .gameLength .selected {
  background: #666;
  color: #fff;
}
/* END */

/* INDIVIDUAL HOLE STYLES */
.hole {
  width: 100%;
  height: $tab-height;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  .hole-num-container {
    height: $tab-height;
    background: #b5b5b5;
    .hole-num {
      line-height: $tab-height;
      font-size: 29px;
      margin-left: 10px;
    }
  }
  .descContainer {
  height: 30px;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  background: #596269;
    .descLeft {
      height: inherit;
      box-sizing: border-box;
      line-height: 30px;
      width: 75px;
      float: left;
      overflow: hidden;
    }
    .descRight {
      height: inherit;
      box-sizing: border-box;
      overflow: hidden
    }
    .section {
      width: 33.33%;
      height: inherit;
      float: left;
      line-height: 30px;
      box-sizing: border-box;
    }
  }
}
.player {
  position: relative;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
    .player-name {
    height: inherit;
    float: left;
    width: 75px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    display: table;
    font-size: 1.6em;
    .player-cell {
      display: table-cell;
      vertical-align: middle;
      background: #b5b5b5;
      color: #fff;
    }
  }
  .player-controls {
    position: relative;
    top: 0;
    height: inherit;
    box-sizing: border-box;
    overflow: hidden;
    .equal-hor {
      border: 1px solid #000;
      height: 33.33%;
      box-sizing: border-box;
      text-align: center;
      line-height: 31px;
    }
  }
  .controls {
    float: left;
    width: 33.33%;
    height: inherit;
    border: 1px solid #000;
    overflow: hidden;
    box-sizing: border-box;
    .hole-score {
      font-size: 1.6em;
    }
  }
}
.increase, .decrease {
  background: #d4fe2c;
  box-shadow: 0px 0px 8px 0px #000;
}
.gir-checkbox {
  display: table;
  text-align: center;
  color: #fff;
  font-size: 2em;
  .fa-check {
    display: table-cell;
    vertical-align: middle;
  }
}
.noHiLte {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hide {
  display: none;
}
.gir-checked {
  background: #00ff00;
}
.open {
  height: auto;
}
/* END */



@media(max-width: 415px) {
  #accordian {
    width: 96%;
  }
}