html, body {
  height: 100%;
}
h1,h2,h3,h4,h5,ul,li,p,ol,body {
  margin: 0;
  padding: 0;
}
.p-LR-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.b-bottom {
  border-bottom: 1px solid #000;
}
.b-right {
  border-right: 1px solid #000;
}
.cntr {
  text-align: center;
}
.p-cell {
  background: #fff;
}
#accordian-wrapper {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}
#accordian {
  width: 80%;
  margin: 0 auto;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
.row {
  width: 100%;
  max-height: 30px;
  line-height: 30px;
  position: relative;
  transition: max-height 350ms ease-in-out;
}
.hole-info {
  height: 30px;
  color: #fff;
  font-size: 1.3em;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #666;
}
.player-data {
  position: relative;
  overflow: auto;
  background: #fff;
}
.players {
  float: left;
  width: 100px;
}
.player-game-data {
  overflow: auto;
}
.score, .gir, .putts {
  width: 33.3%;
  float: left;
}
input[type=checkbox] {
  position: relative;
  transform: scale(1.5);
}
input[type=number] {
  max-width: 80%;
  text-align: center;
}
.players h4, .score h4,.gir h4,.putts h4 {
  background: #bdbdbd;
}
.players h4, p {
  padding-left: 10px;
  padding-right: 10px;
}
.open {
  max-height: 500px;
}










