hole
html, body, input {
  font-family: 'Exo 2', sans-serif;
}

input {
  box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

h1, h2, h3, h4, h5, p, ul, ol, li, body {
  margin: 0;
  padding: 0;
}

#accordian-wrapper {
  overflow: hidden;
  position: relative;
}

#accordian {
  width: 85%;
  margin: 50px auto;
}

/* LENGTH OF GAME SELECTION */
form {
  border: 1px solid #000;
  width: 80%;
  margin: 30px auto;
  padding: 10px;
  background: #b5b5b5;
}

form h3 {
  padding-bottom: 10px;
}

form .gameLength {
  margin-bottom: 10px;
}

form .gameLength span {
  margin: 0 20px;
  display: inline-block;
}

form .gameLength .radio {
  display: inline-block;
  border: 1px solid #000;
  padding: 0 30px;
  background: #fff;
  transition: background 50ms linear;
}

form .gameLength input[type="radio"] {
  display: none;
}

form .addPlayers {
  position: relative;
}

form .fa-plus {
  position: absolute;
  top: -3px;
  right: 0;
  font-size: 2em;
  transition: all 150ms ease-in-out;
}

form input[type="text"] {
  width: 100%;
  height: 42px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 10px;
  font-size: 1.5em;
  padding: 5px 55px 5px 5px;
}

form label {
  font-weight: bold;
}

form .inputContainer {
  position: relative;
}

form .inputContainer span {
  height: 40px;
  width: 50px;
  position: relative;
  float: right;
  margin-top: -52px;
}

form .inputContainer .fa-minus {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 1.6em;
  color: #f00;
}

form .startGame {
  width: 100%;
  padding: 7px;
  font-size: 1.5em;
  background: #7fff00;
  border: 1px solid #000;
}

.feedbackRotate {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type='radio']:checked + .radio {
  background: #7fff00;
  color: #000;
}

/* END */
/* INDIVIDUAL HOLE STYLES */
.holes {
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
}

.holes .hole-num-container {
  height: 40px;
  background: #b5b5b5;
  border-bottom: 1px solid #d4fe2c;
}

.holes .hole-num-container .hole-num {
  line-height: 40px;
  font-size: 29px;
  margin-left: 10px;
}

.holes .descContainer {
  height: 30px;
  text-align: center;
  color: #fff;
  background: #717171;
}

.holes .descContainer .descLeft {
  height: inherit;
  box-sizing: border-box;
  line-height: 30px;
  width: 75px;
  float: left;
  overflow: hidden;
  color: #000;
}

.holes .descContainer .descRight {
  height: inherit;
  box-sizing: border-box;
  overflow: hidden;
}

.holes .descContainer .section {
  height: inherit;
  float: left;
  line-height: 30px;
  box-sizing: border-box;
}

.player {
  position: relative;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  background: #f5f5f5;
}

.player:not(:last-child) {
  border-bottom: 1px solid #848484;
}

.player .player-name {
  height: inherit;
  float: left;
  width: 75px;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.6em;
}

.player .player-name .player-cell {
  line-height: 96px;
  color: #000;
}

.player .player-controls {
  position: relative;
  top: 0;
  height: inherit;
  box-sizing: border-box;
  overflow: hidden;
}

.player .player-controls .equal-hor {
  border: 1px solid #000;
  height: 33.33%;
  box-sizing: border-box;
  text-align: center;
  line-height: 29px;
}

.player .controls {
  float: right;
  height: inherit;
  border: 1px solid #000;
  overflow: hidden;
  box-sizing: border-box;
}

.player .controls .hole-score {
  font-size: 1.6em;
}

.player .player-controls .b-left-2 {
  border-left: 2px solid #000;
}

.score {
  width: 25%;
}

.gir {
  width: 25%;
}

.fwh {
  width: 25%;
}

.putts {
  width: 25%;
}

.increase, .decrease {
  background: #d4fe2c;
  box-shadow: 0px 0px 8px 0px #000;
}

.checkbox {
  display: table;
  text-align: center;
  color: #f5f5f5;
  font-size: 1.6em;
}

.checkbox .fa-check {
  display: table-cell;
  vertical-align: middle;
}

.noHiLte {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide {
  display: none;
}

.checked {
  background: #7fff00;
}

.open {
  height: auto;
}

/* END */
@media (max-width: 415px) {
  #accordian {
    width: 96%;
  }
}
