html, body {
  height: 100%;
}
h1,h2,h3,h4,h5,ul,li,p,ol,body {
  margin: 0;
  padding: 0;
}
.p-LR-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.b-bottom {
  border-bottom: 1px solid #000;
}
.b-right {
  border-right: 1px solid #000;
}
.cntr {
  text-align: center;
}
.p-cell {
  background: #fff;
}
#accordian-wrapper {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}
#accordian {
  width: 80%;
  margin: 0 auto;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
.row {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.hole-info {
  height: 40px;
  color: #fff;
  font-size: 2em;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #666;
}
.player-data {
  position: relative;
  overflow: auto;
  background: #fff;
}
.players {
  float: left;
  width: 100px;
}
.player-game-data {
  overflow: auto;
}
.score, .gir, .putts {
  width: 33.3%;
  float: left;
}

.players h4, .score h4,.gir h4,.putts h4 {
  background: #bdbdbd;
}
.players h4, p {
  padding-left: 10px;
  padding-right: 10px;
}
.open {
  height: auto;
}
.vert-cntr {
  display: table;
}
.gir-checked {
  background: #17ff00;
}
.fa-check {
  color: #fff;
  font-size: 2em;
}
.fa-arrow-up, .fa-arrow-down {
  color: #737373;
}
.gir-checkbox, .player {
  display: table-cell;
  vertical-align: middle;
}
.player {
  font-size: 1.3em;
  background: #f9f9f9;
}
.controls {
  border: 1px solid #000;
  position: relative;
  height: 33.33%;
  box-sizing: border-box;
}
.numSelect {
  width: 100%;
  height: 100px;
  border: 1px solid #000;
  box-sizing: border-box;
}
.curNum {
  font-size: 1.3em;
  font-weight: bold;
}
.increase, .decrease {
  background: #d4fe2c;
}

@media(max-width: 415px) {
  #accordian {
    width: 95%;
  }
}






